@import "~bootstrap/scss/bootstrap.scss";

.container {
    width: 600px;
    
    background-color: #292b2a;
    padding: 0%;
}
.song {
    color: white;
    border-bottom: 1px solid #4b4f4d;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.song:hover {
background-color: #636664;}

.header {
    height: 45px;
    background-color: #3f4240;
    text-align: center;
}
.footer {
    height: 50px;
    background-color: #2d302e;
  text-align: center;
  width: 100%;
    max-width: 600px;
    margin: auto;
}
.boton {
    color: white;
padding: 20px;
padding-top: 10px!important;
}
img{
    height: 35px;
    color: white;
    margin-top: 5px;
}
