@import "~bootstrap/scss/bootstrap.scss";

.container {
    width: 600px;
    height: 800px;
    background-color: #292b2a;
    padding: 0%;
}
.song {
    color: white;
    border-bottom: 1px solid #4b4f4d;
    padding-top: 10px;

}
.song:hover {
background-color: #636664;}

.header {
    height: 20px;
    background-color: #3f4240;
}
.footer {
    height: 50px;
    background-color: #2d302e;
  text-align: center;
  width: 100%;
    max-width: 600px;
    margin: auto;
}
.boton {
    color: white;
padding: 20px;
padding-top: 10px!important;
}
    
